.bg-pink {
    background: #FE38A5;
}

.destaque {
    background: url("../img/bg.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 69px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.destaque__conteudo {
    display: flex;
    flex-direction: column;
}

.destaque__btn {
    width: 200px;
    height: 40px;
    background: none;
    color: #FFE952;
    border: #FFE952 solid 3px;
    margin: 0 auto;
    margin-top: 80px;
}

.card img {
    max-height: 215px;
    height: auto;
}

.produtos h2,
.contato h2 {
    color: #B3156C;
}

.sobre {
    background: #B3156C;
}

.sobre h2 {
    color: #FFE952;
}

.sobre i {
    font-size: 120px;
}

.contato button {
    background: #1EA4B3;
    border: #1EA4B3;
}

footer {
    width: 100%;
    height: 120px;
    padding: 10px 0;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    color: #ffffff;
}